@mixin flex-column($gap: null) {
  display: flex;
  flex-direction: column;

  @if $gap {
    gap: $gap;
  }
}

@mixin flex-center($align: center, $justify: null, $gap: null) {
  display: flex;
  align-items: $align;

  @if $justify {
    justify-content: $justify;
  }

  @if $gap {
    gap: $gap;
  }
}

@mixin grid-center {
  display: grid;
  place-items: center;
}